services:
  app:
    build:
      context: .
    container_name: my-games-app
    env_file: env/app.env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: my-games-db
    env_file: env/postgres.env
    volumes:
      - postgres-data:/var/lib/postgresql/data/

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    restart: unless-stopped
    depends_on:
      - app

volumes:
  postgres-data: